<div class="d-flex justify-content-between align-items-center pb-2 mb-5 border-bottom navbar-border">
  <h1 class="text-light">Create New List</h1>
</div>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name, input_html: { class: "form-control text-light bg-dark" } %>
  <%= f.submit  "Submit", class: "btn-normal" %>
<% end %>

<div class="align-items-center mt-2">
  <i class="fa-solid fa-angles-left text-secondary mx-1"></i>
  <%= link_to "Return", root_path, class: "btn-normal" %>
</div>