// Specific CSS for your home-page

body {
  background: $background;
}

a {
  text-decoration: none;
}

label {
  color: $light-gray !important;
}

p {
  color: $light-gray;
}

h5 {
  color: $light-gray !important;
}